@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/*
/* John Fial, PDX Code Guild, 2020-2021, www.johnfial.com 
/* *********** NOTE ************* */

/* Colors from https://color.adobe.com/create/image using fall image below:
light orange #F29D35 
dark orange #F27329
red #D93D1A
red pink #D94848
grey #BFB0B0
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: 'Lato', sans-serif;
}

body {
    background-color: #BFB0B0;
    background-image: url(https://pixy.org/src/145/1458713.jpg);
    background-repeat: no-repeat;
    background-position: center top -200px;
    /* background-color: #04B2D9;
    background-image: linear-gradient(to bottom right, #04B2D9, #04C4D9);  */
    /* background-image: linear-gradient( #0395b6, #00e5ff); */
}

a {
    text-decoration: none;
    color:BFB0B0;
}

a:hover {
    text-decoration: none;
    color:#D94848;
}

#name {
    font-size: 15px;
    padding-top: 30px;
    justify-content: center;
    text-align: center;
    color:BFB0B0;
    background-color: #D94848;
}

h2 {
    text-align: center;
    font-size: 25px;
    color:BFB0B0;
    padding: 1px;
    margin: 2px;
    background-color: #F29D35;
}

.section {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-size: auto;
    border: 5px solid #F29D35;
    color: #F2D57E;
    padding: 10px;
    margin: 20px;
    background-color: #D94848;
}

li {
    display: flex;
    font-size: 24px;
}

.pro-points p {
    color: white;
    font-size: 16px;    
}


.about {
    text-align: center;
}

#divider {
    background-color: #F2C185;
    margin-top: 140px;
    padding-bottom: 50px;
}

.about-me {
    padding-top: 36px;
    font-size: 36px;
    margin-left: 16px;
    margin-right: 16px;
    color:white;
    padding-bottom: 30px;
}

.resume{ 
    margin-top: 116px;
    font-size: 36px;
    color:#F2D57E;
}

.resume-class a:hover{
    color: #F2C185;
}

.columns {
    /* padding-top: 50px; */
    display: flex;
    justify-content: space-evenly;
}

.column-heading-left {
    font-size: 36px;
    color:#F2D57E;
}

.column-heading-right {
    font-size: 36px; 
    color: #F2D57E;
} 

.column-left {
    text-align: center;
    color: white;
}

.column-right a {
    text-align: center;
    color: white;
    text-decoration: underline;
}

.background {
    font-size: 16px;  
}

.projects a{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    text-decoration: none;
}

.projects a:hover {
    color: #F2C185;
}

.contact{
    display: flex;
    flex-direction: column;
    /* padding-top: 50px; */
}

.heading-contact {
    color: #F2D57E;
    font-size: 36px; 
}

#divider2 {
    background-color: #F2C185;
    margin-top: 140px;
    padding-bottom: 50px;
}


@media (min-width: 700px) {
    body, header, main {
        padding: 20px;
    }

    #name {
        font-size: 50px;
    }
    
    h2 {
        font-size: 75px;
    }

    .section {
        font-size: 36px;
    }

    li {
        display: flex;
        font-size: 50px;
    }

    nav {
        justify-content: center;
    }

    nav p {
        margin-top: 5px;
        margin-left: 20px;
        margin-right: 20px;
        /* background-color: lightpink; */
    } 

    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .fake-item {
        width: 45%;
    }

    footer {
        display: flex;
        margin: auto; 
        margin-left: auto;
        width: auto;
        /* position: fixed; */
        /* background-color: rgb(0, 16, 107); */
        /* z-index: 1; necessary?? aoeu */
    }
}


@media (min-width: 1000px) {

    
}
